
<div id="goods">
  <div id="img">
    <img src="http://placehold.it/350x200">
  </div>
  <div>
    <div id="detail">
      <div>
        <span>&nbsp;商品名称：</span>
        <span>&nbsp;product</span>
      </div>
      <hr/>
      <div>
        <span>&nbsp;价格：</span>
        <span>&nbsp;￥100</span>
        <span>/件</span>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span>有货</span>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span>上架</span>
      </div>
      <hr/>
      <div>
        <span>&nbsp;商品设计特点：</span>
        <div>
          <span class="feature">&nbsp;你的看法是付出你就看看SMX加密是库房内大街卡斯楠车标是猫哭老鼠年休假编程的建设
            局你玩拿到借款方女老师才能进大傻逼是俺的灭虫年第三季放大开动脑筋是哈克拉斯的那句话顿饭承诺你看我你到济南附件
            为南那看来南昌狙击枪
          </span>
        </div>
      </div>
      <hr/>
      <p></p>
    </div>
    <div id="shop">
      <a href="#" class="btn btn-primary btn-lg active btn-info" role="button">加入购物车</a>
    </div>
  </div>
</div>
