#goods {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  overflow: auto;
  height: 88%;
  width: 100%;
  position: fixed;
}

#img{
  width: 100%;
  background-color: white;
  text-align:center;
}

#detail{
  font-size: 2rem;
  line-height: 4rem;
}

hr{
  margin-top: 0;
  margin-bottom: 0;
  border-bottom-width:0.1rem;
  border-bottom-color: #5e5e5e;
  border-bottom-style: double;
}

.btn {
  float: right;
  margin-right: 1rem;
}

.feature {
  word-wrap:break-word;
}
