<div class="footer">
  <nav id="footer" class="navbar navbar-inverse navbar-fixed-bottom col-md-12">
    <div class="container-fluid">
      <a class=" btn btn-link col-md-2" [routerLink]="['/']">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        <p>首页</p>
      </a>
      <a class=" btn btn-link col-md-3" [routerLink]="['/cart']">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        <p>购物车</p>
      </a>
      <a class=" btn btn-link col-md-2" [routerLink]="['/sucorder']">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <p>订单</p>
      </a>
      <a class=" btn btn-link col-md-3" [routerLink]="['/mine']">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <P>我的</P>
      </a>
      <a class=" btn btn-link col-md-2" [routerLink]="['/intro']">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
        <p>介绍</p>
      </a>
    </div>
  </nav>
</div>
