<div id="success">
  <div class="order">
    <table class="table-striped">
      <tr>
        <td class="td1">订单号</td>
        <td class="td1">物品名</td>
        <td class="td1">数量</td>
        <td class="td1">单项总价</td>
      </tr>
    </table>
    <hr>
    <div  *ngFor="let project of projects let i = index">
      <table class="table-striped">
        <tr>
          <td class="td1">{{project.id}}</td>
          <td class="td1">{{project.goodsname}}</td>
          <td class="td1">{{project.count}}</td>
          <td class="td1">{{project.sumprice}}</td>
        </tr>
      </table>
      <hr>
      <div class="start">
        <button class="btn btn-primary btn-sm active btn-info" (click)="goodsRejected(i)">退货</button>
        <button class="btn btn-primary btn-sm active btn-info" (click)="exchangeGoods(i)">换货</button>
        <button class="btn btn-primary btn-sm active btn-info" (click)="signForGoods(i)">签收</button>
      </div>
    </div>
  </div>
</div>
